input[type="submit"],input[type="button"],input[type="reset"]{color:white;color:white;background-color:black;border:1px solid white;margin:2px;}
input[type="text"]{background-color:#DEDEE6;border:4px solid black;margin:2px;}
.wrapper{background-color:orange;border:solid black 7px; border-radius: 25px; width:400px;}
.title{color:white;background-color:black;border:solid black 2px; margin-bottom:2px;text-align:center;}
.label{width:150px;float:left;}
