<div class="label"><label>Integer:</label> </div>		
<div><input id="len" type="text" name="num" /></div>
<div>
<center>
	<input type="submit" name="choice" value="Increment" />
	<input type="reset"  value="Clear"  />
</center>
</div>
	 

