<!DOCTYPE html>
<html>
<head><title>INC PROBLEM</title>
<link rel="stylesheet" type="text/css" href="inc.css" />
</head>
<body>

<form method="post" action="/">
<div class="wrapper">
<div class="title">INC PROBLEM</div>

<%-body %>

</div>
</form>
</body>
</html>
