<!DOCTYPE html>
<html>
<body>
<h2>LOGIN</h2>
<form method="get" action="loginx">
Username:	 <input type="text"     name="userid" /><br>
Password:	 <input type="password" name="password" /><br>
<input type="submit" name="choice" value="Login" />
<input type="submit" name="choice" value="Clear" /><br>
<%- message %>
</form>
</body>
</html>
